scrape_configs:
  - job_name: 'node-cpu-mem'
    metrics_path: /metrics
    static_configs:
      - targets: ['node-exporter:9100']
    metric_relabel_configs:
      - source_labels: ['__name__']
        regex: '^(node_cpu_seconds_total|node_memory_MemAvailable_bytes|node_memory_MemTotal_bytes|node_memory_Active_bytes|node_memory_MemFree_bytes|node_memory_Buffers_bytes|node_memory_Cached_bytes|node_load1|node_load5|node_load15)$'
        action: keep

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']


global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - /etc/prometheus/alert_rules.yml
